.button {
  background: none;
  border-radius: 3em;
  border: 3px solid #67cef4;
  color: #67cef4;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100%;
  padding: 0.7em 1.5em;

  &.is-selected {
    color: #67cef4;
    background: #e8f7fd;
  }

  &:active {
    color: #67cef4;
    background: #e8f7fd;
  }
}

.button.is-selected {
  color: #67cef4;
  background: #e8f7fd;
}

.button-caret {
  border: 0.4em solid transparent;
  border-top-color: #67cef4;
  border-bottom: 0.25em;
  display: inline-block;
  height: 0;
  width: 0;
}
